

    <form class="well form-horizontal" action="/updateProd/{{ result._id }}" method="post">

        <fieldset>

            <legend><center><h2><b>Update Product Details</b></h2></center></legend><br>
            <div class="form-group">
                <label class="col-md-4 control-label">Product Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                       
                        <input  name="name" id="name"  class="form-control"  value="{{ result.name }}" type="text" required="true">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" >Brand</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
            
                        <input name="brand"  id="brand"value="{{ result.brand }}" class="form-control"  type="text" required="true">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" >Model</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                      
                        <input name="model"  id="model" value="{{ result.model }}" class="form-control"  type="text" required="true">
                    </div>
                </div>
            </div>


            
            <div class="form-group">
                <label class="col-md-4 control-label" >Price</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                       
                        <input name="price"  id="price" value="{{ result.price }}" class="form-control"  type="number" required="true">
                    </div>
                </div>
            </div>

        

            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Update Product<nbspSave></nbspSave><span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                </div>
            </div>

        </fieldset>
    </form>
